<a href="https://colab.research.google.com/github/Deeraj-sudan/eda-project-Global-terrorism/blob/main/Sample_EDA_Submission_Template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    -

 **Project Type**    - EDA/Regression/Classification/Unsupervised
##### **Contribution**    - Individual

####  **Name** - Deeraj Sudan

# **Project Summary -**

Terrorism has been a persistent problem for the world for the past one hundred years. The two World Wars and the Cold War have been marked by acts of terrorism, and the post-9/11 era has seen a sharp increase in terrorist activities.In 2021,the ressurgence of Taliban in South Asia had destabalized the region Over the years, terrorist groups have used various tactics such as suicide bombings, hijackings, and cyberattacks to create fear and instability. The rise of extremist ideologies and the proliferation of weapons have made it easier for these groups to carry out their attacks. Despite efforts by governments and international organizations to combat terrorism, it remains a significant threat to global peace and security. Vigilance and coordinated action are required to effectively address this problem.


The Global Terrorism Dataset examines all instances of terrorism that have taken place since 1970. The dataset covers a range of categories and provides concise information about the affected region, the type of attack, the types of weapons used, the various types of targets and subcategories, the number of fatalities, and the extent of property damage.

The primary focus of the EDA project is to examine the trends and inter-relationships between the different categories. The project provides insights into the trends related to the specific category that has been studied by the Institute of Economics and Peace. For instance, it explores the correlation between the affected region and the preferred type of attack. Additionally, the analysis delves deeper to answer questions such as whether there is a relationship between the attacked region and the preferred type of target or weapon. This information can be used by countries and regions to better understand the specific issues that affect them and to develop more targeted solutions.

The world can anticipate the contributions of enthusiastic and compassionate data analysts who can generate valuable insights into ongoing terror attacks. These efforts would aid countries in creating effective policies, forming stronger coalitions, promoting cooperation, and implementing comprehensive steps to combat terrorism.

This project summarise all the information and insights which could help countries to track the trends and correlation between terror attacks.

# **GitHub Link -**

https://github.com/Deeraj-sudan/eda-project-Global-terrorism

# **Problem Statement**

* Year wise Terrorist Attack in the world.
* Attacks from Year 1970-2017 in Each country.
* Number of Attacks done in every country each year.
* Most active terrorist group in a decade.
* Type of attacks executed by the Terrorist Groups and their percentage in the world from 1970 to 2017.
* Attacks in different regions for Years 1970-2017.
* Terrorists Top Targets to attack.
* Percentage of damage done in the world by different attacks.
* Number of attacks in India.
* No. of citizens killed each year in India.
* Top Targets for terrorists in India.
* Number of Attacks in Each City in India.
* Most Active Terrorist Group Statewise in India.
* Total Kills vs Type of Attack.

#### **Define Your Business Objective?**

* The threat of terrorism remains a pressing concern for governments, businesses, and individuals around the world. Despite significant efforts to combat terrorism, the number of incidents and the severity of their impact continue to escalate. For businesses operating in high-risk regions, the risk of terrorism is a significant concern, with financial losses, disrupted operations, and reputational damage among the potential consequences.

* However, there is a lack of comprehensive and easily accessible information about global terrorism incidents, which makes it difficult for businesses to effectively manage the risk of terrorism. While there are various sources of data on terrorism incidents, these are often incomplete, inconsistent, and difficult to analyze.

* The purpose of this capstone project is to address this problem by conducting a comprehensive analysis of global terrorism data. By leveraging data analytics techniques, this project aims to provide a detailed understanding of the patterns and trends of terrorism incidents, including the geographical distribution, the types of attacks, the motivations behind the attacks, and the impact on businesses.

* The findings of this project will be valuable to businesses operating in high-risk regions, as well as those in the transportation, tourism, hospitality, and infrastructure industries. By providing insights into the nature of the terrorism threat, this project will enable businesses to better understand the risks they face and to develop effective strategies to mitigate those risks.

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required.
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits.
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 20 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule.

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np
import ast
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option("display.max_columns", None)
import seaborn as sns
from scipy.stats import mode

### Dataset Loading

In [ ]:
# Load Dataset
from google.colab import drive
drive.mount("/content/drive/")

In [ ]:
path = '/content/drive/MyDrive/dat'

# Global Terrorism file was unable to load in pandas dataframe , as its encoding was wrong.
# So I manually changed it, and used the following encoding,in order to load the dataset in pandas dataframe.

data=pd.read_csv('/content/drive/MyDrive/Global Terrorism Data (1).csv', encoding='ISO-8859-1')

### Dataset First View

In [ ]:
# Dataset First Look
data.head()

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
data.shape

### Dataset Information

In [ ]:
# Dataset Info
data.info(2)

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count

In [ ]:
data.duplicated().sum()

In [ ]:
print(f' We have {data.duplicated().sum()} duplicate values in dataset.')

#### Missing Values/Null Values

In [ ]:
(data.isnull()).sum()

Heatmap

In [ ]:
sns.heatmap(data.isnull())

### What did you know about your dataset?

In the given Dataset, many columns consist null values but those columns on which the EDA have been conducted or questions have been analysed do not contain the problem of null values. For E.g 'nkill' column which consist number of kills doesn't contain null values.

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns
data.columns

In [ ]:
# Dataset Describe
data.describe

### Variables Description

In [ ]:
data.describe()

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
variables_df = data.columns.to_list()

In [ ]:
for i in variables_df:
  print('The Unique Values of', i, 'are:', data[i].unique())

## 3. ***Data Wrangling***

### Data Wrangling Code

In [ ]:
# Write your code to make your dataset analysis ready.

In [ ]:
# filtering out the columns we need
sub_df = data[['eventid','iyear','imonth','country_txt','region_txt','city','attacktype1_txt','targtype1_txt','nkill','weapdetail','nwound','gname','provstate']].copy()

In [ ]:
#renaming the columns
sub_df.rename(columns = {'imonth':'month','eventid':'id','iyear':'year','country_txt':'country','region_txt':'region','attacktype1_txt':'attack_type','targtype1_txt':'target_type','nkill':'total_kills','nwound':'total_wounds','gname':'terrorist_group'},inplace=True)

In [ ]:
sub_df.head()

### What all manipulations have you done and insights you found?

Here we had a dataset with columns name which were not readable so we changed their names to readable, also we have had 135 columns and out of those 135 columns, many columns were full of null values so picked columns which have no null values and based on those columns we will do our Exploratory data analysis.

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

#### Chart - 1

#  Year wise  Terrorist Attack in the world

In [ ]:
# checking if we have any null value
sub_df['year'].isna().sum()

In [ ]:
# grouping by attacks
attacks_per_year=sub_df.groupby('year').agg({'year':'count'}).rename(columns={'year':'no_of_attacks'})

In [ ]:
#Setting the figure size to be displayed as (22,8)
plt.rcParams['figure.figsize'] = (22, 8)

#Plotting a line graph with circular markers, 'C2' specifies the color.
attacks_per_year.plot(zorder=5,color='C2', marker='o')

#Plotting a bar graph with 'attacks_per_year.index' on the x-axis and 'attacks_per_year.no_of_attacks' on the y-axis.
plt.bar(attacks_per_year.index,attacks_per_year.no_of_attacks)

#Setting the title of the graph
plt.title('Terrorist Attacks Worldwide by Year [1970-2017]',fontsize=20,fontweight='bold')

#Setting the label for the x-axis.
plt.xlabel('Year',fontsize=16)

#Setting the label for the y-axis.
plt.ylabel('No. of Attacks',fontsize=16)

#Setting the ticks on the x-axis as the index of 'attacks_per_year' and rotating them by 90 degrees.
plt.xticks(attacks_per_year.index,rotation=90)

#Displaying the graph.
plt.show()

#  The top five years with the most number of terrorist attacks-

In [ ]:
attacks_per_year.nlargest(5,'no_of_attacks')

##### 1. Why did you pick the specific chart?

* Because it is easy to visualize  catagorical data in bar graph.

##### 2. What is/are the insight(s) found from the chart?

*  2014 has been the year with most number of attacks i.e 16903 attacks
*  There is continous decrease in number of terrorist attacks after 2014.
*  chart shows highest numberof terrorist attacks in last 10 years.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Yes, it helps us to analyse the past trends and do business accordingly.

#### Chart - 2

#  Attacks from Year 1970-2017 in Each country

In [ ]:
#Here we are creating a new dataframe called country_df which is a subset of sub_df containing only the columns 'country', 'total_kills' and 'terrorist_group'
country_df = sub_df[['country', 'total_kills', 'terrorist_group']].copy()

'''We group the country_df by 'country' column, and aggregate the number of times a country appears using count() function
We then rename the column to 'total_attacks' and retrieve the 10 countries with the largest number of attacks'''

country_wise = country_df.groupby('country').agg({'country': 'count'}).rename(columns={'country': 'total_attacks'}).nlargest(10, 'total_attacks').reset_index().sort_values('total_attacks', ascending=False)

In [ ]:
# Set the figure size to 15 inches by 7 inches
plt.rcParams['figure.figsize']=(15,7)

# Set the font scale for Seaborn plots to 1.3
sns.set(font_scale=1.3)

# Set the style of the grid to "whitegrid"
sns.set_style("whitegrid")

# Create a bar plot using Seaborn with 'total_attacks' on the x-axis, 'country' on the y-axis, using the 'mako' color palette and assign it to variable 'l'
l=sns.barplot(x='total_attacks',y='country',data=country_wise,palette='mako')

# Set the title of the plot to 'Country Wise Terrorist Attack - Year 1970-2017', with a font size of 25 and bold font weight
l.set_title("Country Wise Terrorist Attack   - Year 1970-2017",fontsize=25,fontweight='bold')

# Set the label of the x-axis to 'Total Attacks' with a font size of 20
l.set_xlabel('Total Attacks',fontsize=20)

# Set the label of the y-axis to 'Country' with a font size of 20
l.set_ylabel('Country',fontsize=20)

##### 1. Why did you pick the specific chart?

It is easy to formulate data in different catagories

##### 2. What is/are the insight(s) found from the chart?

* Iraq witnessed highest number of terrorist attacts folllowed by Pakistan ,Afghanistan and india.
* Turkey  least vulnerable of terrorist attacks among all.
* south Asia is moree vulnerable in terrorist attacks.

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

* yes, it  helps us to choose  business destinations that are least prone to terrorist attacks

#### Chart - 3

# Number of Attacks done in every country each year

In [ ]:
# Select rows with year greater than 2007 for country and year columns
country_df = sub_df[sub_df['year'] > 2007][["country","year"]].copy()

# Group by country and year, count number of attacks per country and year, and sort by country and year in descending order
country_wise = country_df.groupby(['country','year']).agg({'country':'count'}).rename(columns={'country':'total_attacks'}).sort_values(['country','year'], ascending=[True,False])

# Reset the index to turn the grouped columns back into regular columns
country_wise.reset_index(inplace=True)

# Group by country and sum the number of attacks per country, and select the top 10 countries with the largest number of attacks
total_attacks_country = country_wise.groupby("country").agg({'total_attacks':'sum'}).nlargest(10,"total_attacks")

# Select country and year columns from sub_df
country_df = sub_df[['country','year']].copy()

# Group by country and year, count number of attacks per country and year, and sort by country and year in descending order
country_wise = country_df.groupby(['country','year']).agg({'country':'count'}).rename(columns={'country':'total_attacks'}).sort_values(['country','year'], ascending=[True,False])

# Reshape the table by making the year values the column headers
Country_final = country_wise.unstack().T

# Replace missing values with 0
Country_final.fillna(0, inplace=True)

# Reset the index to turn the grouped columns back into regular columns
Country_final.reset_index(inplace=True)

# Select only the rows with year greater than 2007, and columns for the top 10 countries with the largest number of attacks
Country_final_final = Country_final.loc[Country_final.year > 2007,["year","Iraq","Pakistan",'Afghanistan','India','Philippines','Somalia','Nigeria','Yemen','Thailand','Libya']]

# Set the size of the plot figure
plt.rcParams["figure.figsize"] = (20,8)

# Plot the number of attacks for each country by year, with a circle marker for each data point and a label for each country
plt.plot(Country_final_final.year, Country_final_final.Iraq, marker='o', label="Iraq")
plt.plot(Country_final_final.year, Country_final_final.Pakistan, marker='o', label="Pakistan")
plt.plot(Country_final_final.year, Country_final_final.Afghanistan, marker='o', label="Afghanistan")
plt.plot(Country_final_final.year, Country_final_final.India, marker='o', label="India")
plt.plot(Country_final_final.year, Country_final_final.Philippines, marker='o', label="Philippines")
plt.plot(Country_final_final.year, Country_final_final.Somalia, marker='o', label="Somalia")
plt.plot(Country_final_final.year, Country_final_final.Nigeria, marker='o', label="Nigeria")
plt.plot(Country_final_final.year, Country_final_final["Yemen"], marker='o', label="Yemen")
plt.plot(Country_final_final.year, Country_final_final["Thailand"], marker='o', label="Thailand")
plt.plot(Country_final_final.year, Country_final_final.Libya, marker='o', label="Libya")

# Set the x and y axis labels and the title of the plot
plt.xlabel("Year", fontsize=18)
plt.ylabel("No. of Attacks", fontsize=18)
plt.title("No. of Attacks in Each Country From Year 2008-2017", fontsize=25, fontweight='bold')

# Add a legend to the plot
plt.legend()
plt.show()

##### 1. Why did you pick the specific chart?

It is esys to analyze trend of  data over time in single chart

##### 2. What is/are the insight(s) found from the chart?

* From 2008 till 2012 attacks were executed on the constant rate each year in the countries but after 2012 we have seen the rapid rise in the no. of events in Iraq and decline in the rate of the events in Pakistan from 2014.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

* Yes, it will help in business growth.

#### Chart - 4

#  Most active terrorist group in a decade.

In [ ]:
'''Create a new dataframe with only the 'year' and 'terrorist_group' columns from a subset of the original dataframe 'sub_df' '''
t_group_1 = sub_df[['year', 'terrorist_group']].copy()

'''Create a new dataframe by copying only those rows from 't_group_1' where the 'terrorist_group' is not 'Unknown' '''
t_group = t_group_1[t_group_1.terrorist_group != 'Unknown'].copy()

'''Convert the 'year' column to a datetime format, using the '%Y' format code to specify the year, and then convert it to a 'datetime64[Y]' format, which represents the year as a datetime object'''
t_group.year = pd.to_datetime(t_group.year, format='%Y').astype('datetime64[Y]')

In [ ]:
type(t_group['year'][0])

In [ ]:
'''Resample the 't_group' DataFrame by 10-year intervals'''
t_group = t_group.resample('10A', on='year')

'''For each interval, extract the most common terrorist group using the 'mode' function
and store it in a new DataFrame'''
t_group = t_group['terrorist_group'].apply(lambda x: x.mode().loc[0])

'''Reset the index of the new DataFrame to have 'year' as a column'''
t_group = t_group.reset_index()

In [ ]:
# This line is creating a copy of the pandas DataFrame called "t_group"
# using the .loc method to select rows 1 to the end of the DataFrame
# and assigning it to the same variable "t_group"
t_group=t_group.loc[1:,:].copy()

In [ ]:
# This code is updating the 'year' column in the t_group dataframe based on a given range for each row.
t_group.loc[1,'year']='1971-1980'
t_group.loc[2,'year']='1981-1990'
t_group.loc[3,'year']='1991-2000'
t_group.loc[4,'year']='2001-2010'
t_group.loc[5,'year']='2011-2017'

# This code is creating a copy of a subset of data containing only the 'year' and 'terrorist_group' columns.
t1_group_=sub_df[['year','terrorist_group']].copy()

# This code is creating a copy of the t1_group dataframe while excluding rows where the 'terrorist_group' is listed as 'Unknown'.
t1_group=t1_group_[t1_group_.terrorist_group!='Unknown'].copy()

# This code is grouping the t1_group dataframe by 'year' and 'terrorist_group' and then counting the number of attacks for each 'terrorist_group' within each 'year'.
x=t1_group.groupby('year').agg({'terrorist_group':'value_counts'})

# This code is renaming the 'terrorist_group' column to 'no_of_attack', resetting the index, and selecting only the first three rows.
z=x.rename(columns={'terrorist_group':'no_of_attack'}).reset_index()
z.head(3)

In [ ]:
# The following code selects attacks from a given time period and groups them by terrorist group,
# then calculates the total number of attacks by each group and selects the group with the largest number of attacks.

# Selecting attacks between 1971 and 1980.
s1=z[(z.year>1970) &(z.year<1981)]

# Grouping the attacks by terrorist group and aggregating the sum of attacks for each group.
# Selecting the group with the largest number of attacks.
s1.groupby('terrorist_group').agg({'no_of_attack':'sum'}).nlargest(1,'no_of_attack')

# Repeating the same steps for other time periods.
# Selecting attacks between 1981 and 1990.
s2=z[(z.year>1980) &(z.year<1991)]
s2.groupby('terrorist_group').agg({'no_of_attack':'sum'}).nlargest(1,'no_of_attack')

# Selecting attacks between 1991 and 2000.
s3=z[(z.year>1990) &(z.year<2001)]
s3.groupby('terrorist_group').agg({'no_of_attack':'sum'}).nlargest(1,'no_of_attack')

# Selecting attacks between 2001 and 2010.
s4=z[(z.year>2000) &(z.year<2011)]
s4.groupby('terrorist_group').agg({'no_of_attack':'sum'}).nlargest(1,'no_of_attack')

# Selecting attacks between 2011 and 2017.
s5=z[(z.year>2011) &(z.year<2018)]
s5.groupby('terrorist_group').agg({'no_of_attack':'sum'}).nlargest(1,'no_of_attack')

# Creating a list of integers.
list_=[1112,3592,884,1442,5818]

In [ ]:
# This line creates a new key called 'no_of_attacks' in the dictionary t_group
# and assigns it a value of the empty list.

t_group['no_of_attacks'] = list_

# This line assigns the variable list_ to the new key 'no_of_attacks' in the dictionary t_group.
# This is done so that we can later add values to the list associated with 'no_of_attacks'.

In [ ]:
t_group

In [ ]:
# Set the size of the figure
plt.rcParams["figure.figsize"] = (18,10)

# Plot the first data point for Irish Republican Army
plt.plot(t_group.loc[1,"year"], t_group.loc[1,"no_of_attacks"], marker = 'o', label = "Irish Republican Army",markersize=20)

# Plot the second data point for Shining Path (SL)
plt.plot(t_group.loc[2,"year"], t_group.loc[2,"no_of_attacks"], marker = 'o', label = "Shining Path (SL)",markersize=20,markerfacecolor='orange')

# Plot the third data point for Shining Path (SL)
plt.plot(t_group.loc[3,"year"], t_group.loc[3,"no_of_attacks"], marker = 'o', label = "Shining Path (SL)",markersize=20,markerfacecolor='orange')

# Plot the fourth data point for Taliban
plt.plot(t_group.loc[4,"year"], t_group.loc[4,"no_of_attacks"], marker = 'o', label = "Taliban",markersize=20,markerfacecolor='blue')

# Plot the fifth data point for Taliban
plt.plot(t_group.loc[5,"year"], t_group.loc[5,"no_of_attacks"], marker = 'o', label = "Taliban",markersize=20,markerfacecolor='blue')

# Add a title to the plot
plt.title('Deadliest Terrorist Group in a Decade',fontsize=22,fontweight='bold')

# Add a label to the x-axis
plt.xlabel('Decade',fontsize=18)

# Add a label to the y-axis
plt.ylabel('No. of Attacks',fontsize=18)

# Add a legend to the plot
plt.legend()

# Show the plot
plt.show()

##### 1. Why did you pick the specific chart?

* Easy to understand the attacks of different groups over time.

##### 2. What is/are the insight(s) found from the chart?

* Taliban is the most Deadliest terrorist group in  last two decade.
* Shining path(SL) was most deadlist terrorist group between 1981-1990.
* The Chart shows south  Asia is most breading ground for taliban especially in Afhanistan and India.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Yes helps in business growth in future

#### Chart - 5

## Type of attacks executed by the Terrorist Groups and their percentage   in the world from 1970 to 2017

In [ ]:
# create a new column called 'attack_type' in the sub_df dataframe
# apply a lambda function to change any attack type that is not in the specified list to 'Others'
sub_df["attack_type"] = sub_df['attack_type'].apply(lambda x: x if x in ['Assassination', 'Hostage Taking (Kidnapping)',
                                                                          'Bombing/Explosion', 'Facility/Infrastructure Attack',
                                                                          'Armed Assault', 'Hijacking','Unarmed Assault',
                                                                          'Hostage Taking (Barricade Incident)'] else 'Others')

# group the sub_df dataframe by the 'attack_type' column
# calculate the size of each group and create a new dataframe called g
g = sub_df.groupby("attack_type").size().reset_index(name="count")

# calculate the total number of hostage-taking incidents by adding up the counts for two types of hostage-taking attacks
hostage_count = g.loc[5,"count"] + g.loc[6,"count"]

# add the count for three types of attacks (Armed Assault, Hijacking, and Hostage Taking (Barricade Incident)) and
# store the sum in the row of the 'Others' category
g.loc[7,"count"] = g.loc[7,"count"] + g.loc[4,"count"] + g.loc[8,"count"]

# drop rows 4, 5, 6, and 8 from the g dataframe
g = g.drop([4,5,6,8])

# reset the index of the g dataframe
g.reset_index(inplace=True)

# create a list of labels for the pie chart
my_labels = ["Armed Assault", "Assassination", "Bombing/Explosion", "Facility/Infrastructure Attack", "Others"]

# set the percentage of the 'Bombing/Explosion' category to be exploded
explode = [0,0,0.05,0,0]

# set the figure size and font size
plt.rcParams['figure.figsize']=(18,10)
mpl.rcParams['font.size'] = 20.0

# create a pie chart of the attack types in the g dataframe
# label each slice with its corresponding label in the my_labels list
# explode the 'Bombing/Explosion' category
# add a shadow to the chart and show the percentage of each slice
# set the title and make the chart circular
plt.pie(g["count"], labels=my_labels, explode=explode, shadow=True, autopct='%1.1f%%')
plt.title('Type of Attacks in World')
plt.axis('equal')
plt.show()

##### 1. Why did you pick the specific chart?

* It is easys to catagorise all catagories in single graph

##### 2. What is/are the insight(s) found from the chart?

*  Bombing & Explosions are the most dangerous type of attack used by the Terrorist Groups to do damage in the countries around the World followed by Armed Assault and Assassination.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Yes, it help us to build business insatallations attack resilient

#### Chart - 6

#  Attacks in different regions for Years 1970-2017

In [ ]:
#checking for the null values
sub_df[sub_df['total_kills'].isna()]['total_kills'].sum()

In [ ]:
region_attacks=sub_df[['id','region']]

In [ ]:
# We are creating a new dataframe named region_wise by grouping the 'region_attacks' dataframe by the 'region' column
region_wise = region_attacks.groupby('region').agg({'id':'count'})

# We are renaming the 'id' column to 'total_attacks'
region_wise = region_wise.rename(columns={'id':'total_attacks'})

# We are resetting the index of the dataframe so that the grouped columns become regular columns again
region_wise = region_wise.reset_index()

# We are sorting the dataframe by 'total_attacks' column in descending order
region_wise = region_wise.sort_values('total_attacks', ascending=False)

In [ ]:
# Set the figure size to 15 inches (width) and 8 inches (height)
plt.rcParams['figure.figsize']=(15,8)

# Set the style of the plot to whitegrid
sns.set_style("whitegrid")

# Set the font scale to 1.2
sns.set(font_scale=1.2)

# Create a bar plot with total_attacks on the x-axis and region on the y-axis, using the region_wise dataset, and color palette 'rocket'
f=sns.barplot(x='total_attacks',y='region',data=region_wise,palette='rocket')

# Set the title of the plot to 'Region Wise Global Terrorist Attack   Year 1970-2017', with fontsize 25 and fontweight 'bold'
f.set_title("Region Wise Global Terrorist Attack   Year 1970-2017",fontsize=25,fontweight='bold')

# Set the label of the x-axis to 'Total Attacks', with fontsize 20
f.set_xlabel('Total Attacks',fontsize=20)

# Set the label of the y-axis to 'Region', with fontsize 20
f.set_ylabel('Region',fontsize=20)

##### 1. Why did you pick the specific chart?

Because, data is catagorical in nature

##### 2. What is/are the insight(s) found from the chart?

* Middle East & North Africais the most attacked region between the years 1970-2017.

* CentralAsia and most Australasia and Oceania are peaceful and safer region in comparison to others

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

It is easy to choose new destinations for business.

#### Chart - 7

# Terrorists Top Targets to attack

In [ ]:
# Selecting the required columns from the dataframe and creating a new dataframe
target_df=sub_df[['target_type','total_kills']].copy()

# Grouping the target_df by target type and aggregating the count of target type and sum of total kills
target_wise=target_df.groupby('target_type').agg({'target_type':'count','total_kills':'sum'}).rename(columns={'target_type':'total_attacks'}).sort_values('total_attacks',ascending=False)

# Adding a new column to target_wise dataframe for total damage and sorting by it in descending order
target_wise['total_damage']=target_wise.total_attacks+target_wise.total_kills
target_wise.sort_values('total_damage',ascending=False)

# Resetting the index of target_wise dataframe
target_wise.reset_index(inplace = True)

# Setting the figure size and font scale for the plot
plt.rcParams['figure.figsize']=(18,10)
sns.set(font_scale=1.2)
sns.set_style("whitegrid")

# Creating a barplot using seaborn for total attacks vs target type
l=sns.barplot(x='total_attacks',y='target_type',data=target_wise,palette='pastel')

# Setting the title, x-label and y-label for the plot
l.set_title("Most Targeted Groups in the attacks",fontsize=25,fontweight='bold')
l.set_xlabel('Total Attacks',fontsize=20)
l.set_ylabel('Type of Targets',fontsize=20)

##### 1. Why did you pick the specific chart?

Because, data is catagorical in nature

##### 2. What is/are the insight(s) found from the chart?

* Terrorist Groups are more likely to attack on the Big Private properties like Malls  HOtels or on Citizens. /
* Government establishments like Military, Police and Government(General) were 2nd, 3rd and 4rth in the top list

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

not give much insight for business growth

#### Chart - 8

# Percentage of damage done in the world by different attacks.

In [ ]:
# Creating a new column "Damage" in the sub_df dataframe
sub_df["Damage"] = sub_df["total_kills"]+sub_df['total_wounds']

# Grouping the sub_df dataframe by "attack_type" column and aggregating "Damage" column to calculate total damage done
damage_done = sub_df.groupby('attack_type').agg({'Damage':'sum'}).sort_values('Damage',ascending=False)

# Resetting index of the "damage_done" dataframe
damage_done.reset_index(inplace = True)

# Adding the values of 3rd, 5th, 6th, 7th and 9th rows to the 3rd row of the "damage_done" dataframe
damage_done.loc[2,"Damage"] = damage_done.loc[2,"Damage"] + damage_done.loc[4,"Damage"] + damage_done.loc[5,"Damage"] + damage_done.loc[6,"Damage"] + damage_done.loc[8,"Damage"]

# Selecting the 5 largest values of "Damage" column in the "damage_done" dataframe
damage_done = damage_done.nlargest(5,'Damage')

# Creating a list of labels for the pie chart
my_labels = ["Bombing/Explosion", "Armed Assault", "Others", "Assassination", "Hijacking"]

# Setting the size of the plot
plt.rcParams['figure.figsize']=(18,10)

# Creating a list of values to explode the slices of the pie chart
explode=[0.05, 0, 0, 0, 0]

# Setting the font size
mpl.rcParams['font.size'] = 20.0

# Creating a pie chart using the "Damage" column and "my_labels" as labels
plt.pie(damage_done["Damage"], labels=my_labels, explode=explode, shadow=True, startangle=60, autopct='%1.1f%%')

# Setting the title of the pie chart
plt.title('% of damages done by the attacks')

# Setting the axis of the pie chart to equal
plt.axis('equal')

# Displaying the pie chart
plt.show()

##### 1. Why did you pick the specific chart?

* It is easys to catagorise all catagories in single graph.

##### 2. What is/are the insight(s) found from the chart?

* Bombing/explosion andArmed Assult has done the maximum damage in terms of death in the  from 1970-2017.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Yes, it helps.

#### Chart - 9

#  Number of attacks in India

In [ ]:
# Selecting subset of the dataframe where the country is India
df_India = sub_df[sub_df['country']=='India']

# Counting the number of attacks by year for India and storing it in a new dataframe
df_number_of_attacks_by_years = df_India['year'].value_counts().rename_axis('year').reset_index(name='number_of_attacks')

# Displaying the first 3 rows of the new dataframe
df_number_of_attacks_by_years.head(3)

In [ ]:
# Set the size of the plot to 20x10 inches
plt.rcParams['figure.figsize']=(20,10)

# Sort the dataframe by year in ascending order and plot a bar chart
df_number_of_attacks_by_years.sort_values('year',ascending= True).plot(kind='bar',x='year',y='number_of_attacks')

# Set the font size of y-axis tick labels to 20
plt.yticks(fontsize=20)

# Set the font size of x-axis tick labels to 20
plt.xticks(fontsize=20)

# Set the label for the x-axis to "Year" with a font size of 20
plt.xlabel('Year', fontsize=20)

# Set the label for the y-axis to "Number of Attacks" with a font size of 20
plt.ylabel('Number_of-Attacks', fontsize=20)

# Set the title of the plot to "Number of Attacks Each Year in India" with a font size of 30
plt.title('Number of Attacks Each Year in India', fontsize=30)

##### 1. Why did you pick the specific chart?

* It is useful to catagorise data on yearly basis

##### 2. What is/are the insight(s) found from the chart?

* Year 2016 witnessed highest number of terrorist attacks in India followed by 2017 and 2015.
* Chart  also shows sudden increased tn terrorist attacks between year 1988-1992 and after year 2008.
* the graph also shows continuity in terrorist attacks in india since 1979.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Yes it helps to make future business stratergies.

#### Chart - 10

#  No. of citizens killed each year in India

In [ ]:
# This code groups the data in the 'df_India' dataframe by year and calculates the total number of kills per year
kills_per_year_india=df_India.groupby('year').agg({'total_kills':'sum'})

# This code resets the index of the 'kills_per_year_india' dataframe
kills_per_year_india.reset_index(inplace=True)

# This code displays the first three rows of the 'kills_per_year_india' dataframe
kills_per_year_india.head(20)

In [ ]:
# Sort the values in the 'kills_per_year_india' dataframe by year in ascending order and plot as a bar chart.
kills_per_year_india.sort_values('year',ascending= True).plot(kind='bar',x='year',y='total_kills')

# Set the font size for the y-axis ticks to 15.
plt.yticks(fontsize=15)

# Set the font size for the x-axis ticks to 15 and rotate the tick labels by 90 degrees.
plt.xticks(fontsize=15, rotation=90)

# Set the label for the x-axis to 'Years' and the font size to 20.
plt.xlabel('Years', fontsize=20)

# Set the label for the y-axis to 'Total Kills' and the font size to 20.
plt.ylabel('Total Kills', fontsize=20)

# Set the title of the plot to 'Total Number of Kills Each Year in India from 1970-2017', with a font size of 20 and bold font weight.
plt.title('Total Number of Kills Each Year in India from 1970-2017', fontsize=20,fontweight='bold')

##### 1. Why did you pick the specific chart?

It is useful to catagorise data on yearly basis

##### 2. What is/are the insight(s) found from the chart?

* 1992 was the year where the most number of citizen were killed with total number is 1152.
* Between 1988-1992 witnessed highest number of casualities in terrorist attacks in India.
* no definate  pattern seen in terrorist attacks.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

yes, it help  bussiness because people generally avoids terrorist prone areas for jobs.

#### Chart - 11

# Top Targets for terrorists in India

In [ ]:
target_df=df_India[['target_type','total_kills']]

In [ ]:
target_df.target_type.isna().sum()

In [ ]:
# This line groups the 'target_df' dataframe by 'target_type' column and aggregates the 'target_type' and 'total_kills' columns using count and sum functions respectively
target_wise=target_df.groupby('target_type').agg({'target_type':'count','total_kills':'sum'}).rename(columns={'target_type':'total_attacks'}).sort_values('total_attacks',ascending=False)

# This line prints the first 3 rows of the 'target_wise' dataframe, which shows the top 3 most attacked target types with their corresponding total attack count and total kills
target_wise.head(3)

In [ ]:
# We are adding a new column 'total_damage' to the DataFrame 'target_wise' by summing up 'total_attacks' and 'total_kills'
target_wise['total_damage']=target_wise.total_attacks+target_wise.total_kills

# We are sorting the DataFrame 'target_wise' based on the values in the column 'total_damage' in descending order
target_wise.sort_values('total_damage',ascending=False)

# We are displaying the top 3 rows of the sorted DataFrame 'target_wise'
target_wise.head(3)

In [ ]:
# Set the size of the plot
plt.rcParams['figure.figsize']=(18,10)

# Set the font scale for seaborn
sns.set(font_scale=1)

# Set the style of the plot to whitegrid
sns.set_style("whitegrid")

# Create a barplot using seaborn, with total_attacks on the x-axis, target_wise.index on the y-axis, and a flare color palette
l=sns.barplot(x='total_attacks',y=target_wise.index,data=target_wise,palette='flare')

# Set the title of the plot, with a font size of 25 and font weight of bold
l.set_title("Most attacked Targets in India from 1970-2017",fontsize=25,fontweight='bold')

# Set the x-axis label of the plot, with a font size of 20
l.set_xlabel('Number of Attacks',fontsize=20)

# Set the y-axis label of the plot, with a font size of 20
l.set_ylabel('Type of Targets',fontsize=20)

##### 1. Why did you pick the specific chart?

It is useful  for catagorical data

##### 2. What is/are the insight(s) found from the chart?

* Private Citizen and Property are the top taget with total of 3144 attacks.
* Also, government establishments such as Police, Government(general) and Military were also in top five list.
* Private Citizens & Property also has got highest damage and kills in terrorist attacks.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

yes, it helps to save employees and business property aganist attacks

#### Chart - 12

# Number of Attacks in Each City in India

In [ ]:
# Selecting the rows with country 'India' from the sub-dataframe
df_India= sub_df[sub_df['country']=='India']

# Alternative way to do the same
# country_IND=sub_df[sub_df['country']=='India']

# Selecting the rows with a known city in India
city_known = df_India[df_India['city']!='Unknown']

# Creating a new dataframe with columns 'provstate' and 'city'
state_city=city_known[['provstate','city']]

# Grouping the dataframe by 'provstate' and finding the mode of 'city' in each group
city_mode=state_city.groupby('provstate')['city'].apply(lambda x: x.mode().loc[0])

# Resetting the index of the resulting dataframe
city_mode=city_mode.reset_index()

# Creating a dictionary with 'provstate' as key and 'city' as value
dict_=dict(zip(city_mode.provstate,city_mode.city))

# Creating a new column 'new_city' in the dataframe 'df_India' with the same values as 'city'
df_India['new_city']=df_India.city.copy()

In [ ]:
# Iterate through each row in the df_India DataFrame
for i,row in df_India.iterrows():

  # Check if the 'provstate' column for the current row is not equal to 'Unknown'
  if df_India.at[i,'provstate']!='Unknown':

    # Check if the 'city' column for the current row is equal to 'Unknown'
    if df_India.at[i,'city']=='Unknown':

      # Set the 'new_city' column for the current row to the value in the 'dict_' dictionary corresponding to the 'provstate' value
      df_India.at[i,'new_city']=dict_[row['provstate']]

    # If the 'city' column for the current row is not equal to 'Unknown'
    else:

      # Use the existing value in the 'new_city' column for the current row
      df_India.at[i,'new_city']=df_India.at[i,'new_city']

In [ ]:
# Assigning values of 'new_city' column to 'city' column of 'df_India' dataframe
df_India['city']= df_India['new_city']

# Counting the number of attacks by cities in 'df_India' dataframe
# Renaming the index as 'unique_cities' and column as 'number_of_attacks'
df_number_of_attacks_by_cities = df_India['city'].value_counts().rename_axis('unique_cities').reset_index(name='number_of_attacks')

# Sorting the cities by the number of attacks in descending order
# Resetting the index of the resulting dataframe
df_sorted_city_by_attacks= df_number_of_attacks_by_cities.sort_values(['number_of_attacks'], ascending= False).reset_index(drop= True)

In [ ]:
# Set the size of the figure
plt.rcParams["figure.figsize"] = (20, 5)

# Create a line plot of the top 15 cities with the highest number of terrorist attacks
df_sorted_city_by_attacks.head(15).plot(zorder=5,color='C2', marker='o')

# Create a bar plot of the top 15 cities with the highest number of terrorist attacks
plt.bar(df_sorted_city_by_attacks['unique_cities'].head(15),df_sorted_city_by_attacks['number_of_attacks'].head(15),color='r')

# Set the font size for the y-axis ticks
plt.yticks(fontsize=15)

# Set the font size and rotation for the x-axis ticks
plt.xticks(fontsize=15, rotation=90)

# Set the x and y axis labels and their font sizes
plt.xlabel('Cities', fontsize=20)
plt.ylabel('Number Of Attacks', fontsize=20)

# Set the title and its font size and weight
plt.title("Top Terrorist Prone Cities (1970-2017) in India", fontsize=25, fontweight='bold')

# Display the plot
plt.show()

##### 1. Why did you pick the specific chart?

It is easy to identify different cities and number of attacks

##### 2. What is/are the insight(s) found from the chart?

* Srinagar is the most terrorist prone city in india followed by Imphal , Amritsir and Guwhati.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Help to choose cities fo business

#### Chart - 13

# Most Active Terrorist Group Statewise in India

In [ ]:
# Replacing 'Orissa' with 'Odisha' in the dataframe df_India
df_India.replace('Orissa', 'Odisha', inplace= True)

# Replacing 'Jammu and Kashmir' with 'Jammu & Kashmir' in the dataframe df_India
df_India.replace('Jammu and Kashmir', 'Jammu & Kashmir', inplace= True)

# Replacing 'Andhra pradesh' with 'Andhra Pradesh' in the dataframe df_India
df_India.replace('Andhra pradesh', 'Andhra Pradesh', inplace= True)

# Replacing 'Uttaranchal' with 'Uttarakhand' in the dataframe df_India
df_India.replace('Uttaranchal', 'Uttarakhand', inplace= True)

# Replacing 'Arunachal Pradesh' with 'Arunanchal Pradesh' in the dataframe df_India
df_India.replace('Arunachal Pradesh', 'Arunanchal Pradesh', inplace= True)

# Replacing 'Delhi' with 'NCT of Delhi' in the dataframe df_India
df_India.replace('Delhi', 'NCT of Delhi', inplace= True)

# Selecting rows where the value of 'provstate' column is 'Unknown' and storing the index of these rows in indexNames
indexNames = df_India[ df_India['provstate'] =='Unknown' ].index

# Dropping the rows with index in indexNames from the dataframe df_India
df_India.drop(indexNames , inplace=True)

In [ ]:
# Create a new dataframe using selected columns from df_India
statewise_terrorist_attack_group = pd.DataFrame(df_India, columns=['provstate','terrorist_group','attack_type','total_kills' ])

# Group the attacks by province/state and terrorist group and calculate the count of attacks
active_group = statewise_terrorist_attack_group.groupby(['provstate','terrorist_group']).agg({'terrorist_group':'count'}).rename(columns={'terrorist_group':'number of attacks'}).reset_index()

# Group the active groups by province/state and find the maximum number of attacks
most_active_group = active_group.groupby("provstate").max().reset_index()

# Sort the most active terrorist groups state-wise by the number of attacks in descending order
most_active_terror_group_statewise = most_active_group.sort_values('number of attacks', ascending= False)

# Select the top 10 most active terrorist groups by province/state and sort by the number of attacks in ascending order
most_active_terror_group_statewise = most_active_terror_group_statewise.nlargest(10,'number of attacks').sort_values('number of attacks',ascending=True)

In [ ]:
# Set the figure size for the plot
plt.rcParams["figure.figsize"] = (20, 8)

# Set x1 to the data from the column 'terrorist_group'
x1 = most_active_terror_group_statewise['terrorist_group']

# Create a horizontal bar plot using the data from the columns 'provstate' and 'number of attacks'
# Set the width of the bars to 0.8
m = most_active_terror_group_statewise.plot(kind='barh', x='provstate', y='number of attacks', width=0.8)

# Set the label for the x-axis and y-axis of the plot
m.set_xlabel('Total Number of Attacks', fontsize=15, fontweight='bold')
m.set_ylabel('Terrorist Group', fontsize=22, fontweight='bold')

# Set the font size for the y-axis and x-axis ticks
plt.yticks(fontsize=16)
plt.xticks(fontsize=16)

# Set the label for the x-axis and y-axis title, with font size and color
plt.xlabel('', fontsize=25, color='b')
plt.ylabel('Number of Attacks', fontsize=25)

# Set the title for the plot, with font size and font weight
plt.title('States With Most Number of Terrorist Attacks', fontsize=25, fontweight='bold')

# Add a legend to the plot
plt.legend()

##### 1. Why did you pick the specific chart?

* Because data is catagorical in nature

##### 2. What is/are the insight(s) found from the chart?

* Terrorist Groups are most active in Jammu and Kashmir mostly funded by pakistan led terrorist group followed by Manipur,Chhattisgarh and jharkhand.
* Graph clearly shows that state sharing international borders are more prone to terrorist attacks.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

yes, graph clearly show  Jammu kashmir is not suitable for establishing business

# 14.Total Kills vs Type of Attack

In [ ]:
terrorist_attack_group=pd.DataFrame(df_India, columns=['city','terrorist_group','attack_type','total_kills' ])
terrorist_attack_group.sort_values('total_kills', ascending= False)
index_names = terrorist_attack_group[ terrorist_attack_group['terrorist_group'] == 'Unknown' ].index
terrorist_attack_group.drop(index_names, inplace = True)
index_names = terrorist_attack_group[ terrorist_attack_group['attack_type'] == 'Unknown' ].index
terrorist_attack_group.drop(index_names, inplace = True)
terrorist_attack_group.head(3)

In [ ]:
attack_type_killings= terrorist_attack_group.groupby(['attack_type'])['total_kills'].sum().rename_axis('attack_type').reset_index(name='total_kills')
attack_type_killings.sort_values('total_kills', ascending= False)

In [ ]:
plt.rcParams["figure.figsize"] = (18, 5)
attack_type_killings.sort_values('total_kills', ascending= True).plot(kind='barh',x='attack_type',color='c',y='total_kills', width=0.8)
plt.yticks(fontsize=12)
plt.xticks(fontsize=12)
plt. xlabel('Total Kills', fontsize=20)
plt. ylabel('Attack Type', fontsize=20)
plt.title('Total Damage (1970-2017) vs Terrorist Attack Type in India', fontsize=25,fontweight='bold')

##### 2. What is/are the insight(s) found from the chart?

* Armed assault has caused most no of casualties.
* Bombing/Explosion being the second and Assassination being third..

#### Chart - 15 - Correlation Heatmap

In [ ]:
sns.heatmap(data[['iyear','city','country','region','attacktype1','longitude','latitude']].corr(), annot=True, cmap = 'Reds')


sns.heatmap(data[['attacktype1_txt','country','region']].corr(), annot=True, cmap = 'Reds')

##### 1. Why did you pick the specific chart?

For establishing corellations

##### 2. What is/are the insight(s) found from the chart?

* year and country have weak corellation.
* country and region have moderate corellation.
* attacktype and region have moderate corellation.
* region and latitude have moderate corellation.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Yes, it helps.

## **5. Solution to Business Objective**

#### What do you suggest the client to achieve Business Objective ?
Explain Briefly.

* Using predictive modeling to identify potential hotspots for terrorist activities. This involves analyzing historical data on terrorist incidents and identifying patterns that could indicate future attacks. We can use various machine learning algorithms such as decision trees, random forests, and neural networks to develop predictive models. These models can then be used to generate risk scores for different regions and types of targets, allowing businesses to prioritize their risk management strategies such as security protocols, insurance coverage, and contingency plans based on the identified information.
* Analyze the Global Terrorism dataset to identify vulnerable regions and targets.
* Develop risk management strategies
* Monitor and assess the effectiveness of risk management strategies over time using the Global Terrorism dataset.
* Leverage insights from the dataset to proactively manage exposure to terrorism-related risks.
* Ultimately reduce the impact of terrorism on business operations and human lives.

# **Conclusion**

After performing data wrangling and applying various data visualization techniques, we can conclude that global terrorism is a severe issue that requires immediate attention. The analysis of the Global Terrorism dataset has revealed several important insights into the patterns and trends of terrorist attacks across the world.

One of the most significant findings is that terrorism is not limited to a particular region or country. It is a global phenomenon that affects people from all parts of the world. Additionally, the analysis has also shown that terrorism has increased significantly over the years, with a sharp rise in the number of attacks in recent times.

The use of data visualization techniques has helped us to understand the nature of terrorist attacks, the targets of these attacks, and the weapons used in them. This information can be used to identify potential areas of vulnerability and take preventive measures to minimize the impact of terrorist attacks.

* There has been a significant increase in terrorist activities across the world since 2008, with the year 2014 experiencing the highest number of incidents. This was followed by 2015, 2016, and 2017, with Iraq, Pakistan, and Afghanistan being the major contributors to these incidents.
* From 1970 to 2017, Iraq, Pakistan, and Afghanistan were the countries with the highest number of attacks.
* From 2008 to 2012, there was a consistent number of attacks observed worldwide.
* Terrorists top most target are private citizens(Armed Assault) and Govt. establishment such as Military, police and Govt.(General) has been in the top 5 list. India has also the same trend.
* Taliban has been the most active terrorist group in the decade 2011-2017. We can say the reason behind sharp rise in terrorist activities after 2008 and biggest contributor to terrorism in South Asia (specifically Afghanistan) is Taliban alone.
* Middle east North africa and South Asia has been the most affected region(Taliban)
* Like rest of the world, India has also experienced a significant increase in terrorist activities since 2008, with incidents nearly tripling.
* Total casualties in India have been more between 1988-92 and 2006-2010. After 2010 there is a significant decrease.
* Srinagar has been identified as the most frequently attacked city, with Amritsar ranking third, followed by Sopore in sixth place, Ludhiana in seventh, Anantnag in eighth, and Jammu in eleventh. These findings suggest that the Taliban's influence in India is evident, particularly in Jammu and Kashmir, which has experienced the highest number of attacks
* Top 10 most affected state contribute 31% in total population of India however 5 states in that list- Jammu & Kashmir, Manipur, Assam, Meghalaya, Jharkhand (total population share in India=6.78%) accounts for 38% of attacks.

### ***Hurrah! You have successfully completed your EDA Capstone Project !!!***